{
  "openapi": "3.0.3",
  "info": {
    "title": "API de Kamina Academy",
    "description": "API para crear una sesion embebida de Kamina Academy",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.kamina.academy",
      "description": "Servidor de producción"
    },
    {
      "url": "https://api-dev.kamina.academy",
      "description": "Servidor de desarrollo"
    }
  ],
  "paths": {
    "/embed": {
      "post": {
        "summary": "Crear una sesion embebida para un usuario",
        "description": "Crea una URL de sesión embebida para un usuario que ya está autenticado en la aplicación o ambiente del cliente. La aplicación del cliente debe proveer un token Bearer válido en la cabecera de autorización, junto con los datos del usuario. Si la solicitud es exitosa, la respuesta incluirá una URL única con un token de una duración acordada con el cliente (por ejemplo, https://[cliente].kamina.academy?token=XYZ) que se puede embeber en otro ambiente.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Company-Name",
            "in": "header",
            "description": "Nombre de la empresa a la que pertenece el usuario",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Acme Inc."
            }
          }
        ],
        "requestBody": {
          "description": "Datos del usuario necesarios para crear la sesión embebida (sin incluir la compañía)",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "last_name",
                  "email",
                  "document_number",
                  "phone_number",
                  "born_date"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nombre del usuario",
                    "example": "Juan"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Apellido del usuario",
                    "example": "Pérez"
                  },
                  "email": {
                    "type": "string",
                    "description": "Apellido del usuario",
                    "example": "Pérez"
                  },
                  "document_number": {
                    "type": "string",
                    "description": "Número de documento oficial (Cédula)",
                    "example": "1712345678"
                  },
                  "phone_number": {
                    "type": "string",
                    "description": "Número de teléfono del usuario",
                    "example": "+59312345678"
                  },
                  "born_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Fecha de nacimiento del usuario (YYYY-MM-DD)",
                    "example": "1990-05-15"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Éxito: se ha creado la URL de sesión embebida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "embedUrl": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://[cliente].kamina.academy?token=abc123...",
                      "description": "URL única que contiene un token de un solo uso o de corta duración que otorga acceso a la sesión embebida."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Solicitud inválida: faltan campos obligatorios o los datos del usuario son erróneos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid request body: faltan campos requeridos o hay datos incorrectos."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Falta o es inválido el encabezado de autorización",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Missing Authorization header"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Token Bearer inválido o expirado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid token"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Token estático (cadena aleatoria o similar)"
      }
    }
  }
}
